name: Update Site Data

on:
  schedule:
    # Run every 4 hours (approx 6 times a day)
    - cron: '0 */4 * * *' 
  workflow_dispatch: # Allows you to run it manually

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests pymongo

      - name: Run Fetch Script
        env:
          NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: python scripts/fetch_data.py

      - name: Commit and Push Data
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "updated: News & Mongo Data"
          file_pattern: "assets/site_data.json"
          
          # YOUR IDENTITY SETTINGS
          # This ensures the green square goes to your profile
          commit_user_name: "lovnishverma"
          commit_user_email: "princelv84@gmail.com"
          commit_author: "lovnishverma <princelv84@gmail.com>"
